<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fe fe-home"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('categories_index') }}"><i class="fe fe-list-order"></i><span>Categories</span></a>
                </li>
                <li>
                    <a href="{{ path('annonce_index') }}"><i class="fe fe-notice-push"></i><span>Annonces</span></a>
                </li>
                <li>
                    <a href="{{ path('city_index') }}"><i class="fe fe-map"></i><span>Villes</span></a>
                </li>
                <li>
                    <a href="{{ path('article_index') }}"><i class="fe fe-pot"></i><span>Articles</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>